/* styles */
.hidden {
  display: none;
}
.pokemon-item {
  background-color: #fffefc;
  border: 2px solid #0075be;
  border-radius: 4px;
  height: 80px;
  width: 160px;
  margin-bottom: 8px;
}
.pokemon-item:hover {
  border: 4px solid #0075be;
  background-color: #ffcc00;
  cursor: pointer;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  padding: 24px;
  text-align: center;
  position: fixed;
  box-sizing: border-box;
  top: 0;
}
.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background-color: #fffefc;
  padding: 16px;
  width: 100%;
  max-width: 700px;
  border: 2px solid #0075be;
  border-radius: 4px;
  margin: 20%;
}
.close-modal {
  border: none;
  background-color: #999;
  height: 24px;
  width: 24px;
  float: right;
}
